@charset "utf-8";


.header{height:54px;width:100%;background:#484F61;}
.topBar{height:60px;width:100%;box-shadow:0px 3px 9px rgb(0 0 0 / 11%);}

.layout{height:calc(100vh - 114px);font-size:0;}
.box{display: inline-block;height:100%;vertical-align: top;}
.nav{width:280px;}
.main{height:100%;width:calc(100% - 280px - 321px);border-right:1px solid #bdbdbd;border-left:1px solid #bdbdbd;}
.sidebar{height:100%;width:321px;}