@charset "utf-8";

.icon{vertical-align: middle;}
.icon svg{display: inline-block;vertical-align: middle;width:20px;margin-right:5px;} 
.icon span{display:inline-block;vertical-align: middle;}

/* header */
.header{display: flex;justify-content: space-between;align-items: center;height:54px;width:100%;padding:0 27px;background:#484F61;}
.header .logo .logotit{color:#fff;font-size:18px;}
.header .logo .logotxt{color:#fff;font-size:18px;}
.header .login{position: relative;}
.header .login .profile{display: flex;align-items: center;justify-content: center; width:36px;height:36px;border-radius: 50%;background:#2D9CDB;color:#fff;font-size:18px;font-family:'Roboto', sans-serif;transition: all .5s;}
.header .login .profile:hover,
.header .login .profile:focus{background:#47B8F9;}
.header .login .loginBox{display:none;position: absolute;right:0;top: 46px;width: 180px;height:88px;padding: 12px;background:#fff;border:1px solid #484F61;border-radius: 2px;}
.header .login .loginBox li a{padding:5px 0;}

/* topbar */
.topbar{display: flex;align-items: center;height:60px;width:100%;box-shadow:0px 3px 9px rgb(0 0 0 / 11%);}
.topbar .fileupload{width: 280px;text-align: center;}
.topbar .fileupload a{width:230px;padding:5px 0;border-radius: 5px; border:1px solid #bdbdbd;background:#F1F2F3;}
.topbar .fileupload a span{font-size:15px;}
.topbar .filepath{width:calc(100% - 280px - 321px);padding: 0 20px 0 10px;}
.topbar .filepath .pathbox{display: inline-block;width:100%;padding:0 5px;border:1px solid #bdbdbd;border-radius: 3px;}
.topbar .filepath .pathbox li{display:inline-block;vertical-align: middle;}
.topbar .filepath .pathbox li:after{display:inline-block;vertical-align: middle; content:'\005C';}
.topbar .filepath .pathbox li:last-child:after{display:none;}
.topbar .filepath .pathbox li a{padding:5px;font-size:15px;}
.topbar .filepath .pathbox li a span{font-size:15px;}
.topbar .filepath .pathbox li .icon svg{width:23px;}
.topbar .search{position: relative;display: flex;width: 321px;padding: 0 30px 0 10px;}
.topbar .search svg{position: absolute;left: 20px;top: 6px;}
.topbar .search .searchbox{display: inline-block;width: 100%;height: 38px;padding: 0 15px 0 50px;border-radius: 2px;border:1px solid #bdbdbd;font-size: 15px;color: #333;}
.topbar .search .searchbox::placeholder{color:#333;}

.layout{height:calc(100vh - 114px);font-size:0;}
.box{display: inline-block;height:100%;vertical-align: top;padding:20px 30px;}
.nav{overflow-y: auto; width:280px;}
.nav .floderbox{margin-bottom:20px;padding-bottom:20px; border-bottom:1px solid #E0E0E0;}
.nav .floderbox ul li{margin:5px 0;}
.nav .depth02{margin-left:24px;}
.nav .depth03{margin-left:24px;}

/* main */
.main{height:100%;width:calc(100% - 280px - 321px);border-right:1px solid #bdbdbd;border-left:1px solid #bdbdbd;}
.main .menubar{position: relative;border-bottom:1px solid #bdbdbd;}
.main .menubar .editbtn ul{font-size:0;}
.main .menubar .editbtn ul li{display:inline-block;}
.main .menubar .editbtn .icon{margin-right:5px;padding:5px 8px; border:1px solid #bdbdbd;border-radius: 2px;}
.main .menubar .ascbtn{position: relative;margin:10px 0;}
.main .menubar .ascbtn input{display: none;}
.main .menubar .ascbtn input + label{display:inline-block;width: 70px;height: 25px;background: url(../images/chk.svg)left center no-repeat;font-size:0;}
.main .menubar .ascbtn input:checked + label{background:url(../images/chk_ov.svg)left center no-repeat;}
.main .menubar .ascbtn span{position: absolute;left: 37px;top: 5px;}
.main .menubar .tagbtn{position: absolute;right:0;top:0;}
.main .menubar .tagbtn .viewitem{margin-bottom:10px;}

.main .contents{overflow-y: auto;height:100%; padding:20px;}
.main .contents ul{font-size:0;}
.main .contents ul li{display:inline-block;vertical-align: top;margin-right:27px;margin-bottom:40px;}
.main .contents ul li:nth-child(7n){margin-right:0;}
.main .contents ul li label{display:inline-block;width:100%;height:100%;}
.main .contents ul li .item{position: relative; overflow: hidden; width:150px;height:150px;background:#F1F2F3;border:1px solid #e0e0e0;border-radius: 3px;}
.main .contents ul li .item .boxitem{position: absolute;left:0;top:0;width:100%;height:100%;}
.main .contents ul li .item .boxitem .checkbox{}
.main .contents ul li .item .boxitem .checkbox input{display: none;}
.main .contents ul li .item .boxitem .checkbox input + label{display:inline-block;width:24px;height:24px;margin-left:5px;background:url(../images/chk.svg);font-size:0;}
.main .contents ul li .item .boxitem .checkbox input:checked + label{background:url(../images/chk_ov.svg);}
.main .contents ul li .item .boxitem .starbox{position: absolute;right:5px;top:5px;}
.main .contents ul li .item .boxitem .morebox{position: absolute;right:10px;bottom:10px;}
.main .contents ul li .info{margin:8px 0;text-align: center;}

/* sidebar */
.sidebar{position: relative; height:100%;width:321px;}
.sidebar .itemview{}
.sidebar .itemview .thumb{position: relative; overflow:hidden; width:260px;height:180px;background:#F1F2F3;border:1px solid #E0E0E0;}
.sidebar .itemview .thumb img{position: absolute;left:50%;top:50%;width:100%;height:auto;transform: translate(-50%,-50%);}
.sidebar .itemview .btnbox{margin:20px 0 10px;text-align:center;}
.sidebar .itemview .btnbox .icon{width:calc(50% - 7px);padding:5px 0;margin-right:7px;border:1px solid #4f4f4f;border-radius: 2px;}
.sidebar .itemview .btnbox .icon.share{margin:0;}
.sidebar .itemview .tagbox{}
.sidebar .itemview .tagbox .tagbtn{margin-right:3px;padding:1px 10px 2px;background:#4f4f4f;color:#fff;font-size:11px;border-radius: 2px;}
.sidebar .itemtit{margin:50px 0 20px;}
.sidebar .itemtit .title{font-size:18px;}
.sidebar .iteminfo ul li{}
.sidebar .iteminfo .infotit{display:block;margin-bottom:5px;}
.sidebar .iteminfo .infotxt{display:block;margin-bottom:20px;}
.sidebar .itemhelp{position: absolute;right:20px;bottom:20px;}
.sidebar .itemhelp{}
.sidebar .itemhelp .helpbtn{display: flex;align-items: center;justify-content: center; width:36px;height:36px;border-radius: 50%;background:#707683;color:#fff;font-size:18px;font-family:'Roboto', sans-serif;transition: all .5s;}
.sidebar .itemhelp .helpbtn:hover,
.sidebar .itemhelp .helpbtn:focus{background:#9298A6;}
.sidebar .itemhelp .helpbox{display:none;position: absolute;right: 0;top: -100px;width: 180px;height:88px;padding: 12px;background:#fff;border:1px solid #484F61;border-radius: 2px;box-shadow: 0 5px 10px rgb(0 0 0 / 10%);}
.sidebar .itemhelp .helpbox li a{padding:5px 0;}

